Flask
Flask-WTF
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login
opencv-python
torch
torchvision
torchaudio
pygame
WTForms
pygame==2.0.0.dev10
alsa-utils
libsdl1.2-dev
libsdl-mixer1.2
libsdl2-dev
libsdl2-mixer-dev
