<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <title>Drowsiness Detection</title>

</head>
<body class="bg-gray-100 p-6">
 <nav class="bg-white text-black container mx-auto flex justify-around items-center h-16 w-screen rounded-b-lg">
         <div class="flex items-center h-full space-x-2 mx-8">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="h-8 w-auto object-contain">
            <img src="{{ url_for('static', filename='images/napnix.png') }}" class="h-8 w-auto object-contain">
        </div>
        <div class="space-x-8 mx-8">
            <a href="{{ url_for('index') }}" class="px-4 hover:text-gray-300 transition duration-300 font-medium text-xl">Home</a>
            <a href="#" class="px-4 hover:text-gray-300 transition duration-300 font-medium  text-xl">About</a>
            <a href="#" class="px-4 hover:text-gray-300 transition duration-300 font-medium  text-xl">Contact</a>

        </div>
       <div>
            <a href="{{ url_for('login') }}"> <button class="bg-transparent border-2 border-blue-600 text-white px-4 rounded-full text-lg font-semibold bg-blue-600 hover:bg-blue-600 hover:text-white transition duration-300">LogIn</button></a>
           <a href="{{ url_for('signup') }}"> <button class="bg-transparent border-2 border-blue-600 text-blue-600 px-4 rounded-full text-lg font-semibold hover:bg-blue-600 hover:text-white transition duration-300">SignUp</button></a>
        </div>


    </nav>
    <div class="flex flex-col md:flex-row">
        <div class="w-full {% if filename %}md:w-1/2{% else %}w-full{% endif %}">
            <div class="my-6 flex justify-center mt-16">

                <h2 class="text-2xl font-semibold mb-4">Upload Your Own Image</h2>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="image" accept="image/*" required class="mb-4">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-full">Upload and Predict</button>
                </form>
            </div>


            <!-- Predefined Images Section -->
            <div class="mt-16">
                <div class="flex justify-center">
                 <h2 class="text-2xl font-semibold mb-4">Select a Predefined Image</h2>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <!-- First Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale420.jpg') }}" alt="Yawn" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale420.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                    <!-- Second Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale600.jpg') }}" alt="Another Image" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale600.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                    <!-- 3 Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale725.jpg') }}" alt="Another Image" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale725.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                    <!-- 4 Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale950.jpg') }}" alt="Another Image" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale950.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                    <!-- 5 Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale1370.jpg') }}" alt="Another Image" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale1370.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                    <!-- 6 Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale3185.jpg') }}" alt="Another Image" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale3185.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                    <!-- 7 Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale3730.jpg') }}" alt="Another Image" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale3730.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                    <!-- 8 Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale4440.jpg') }}" alt="Another Image" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale4440.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                    <!-- 9 Predefined Image -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename='images/yawnMaleFemale7260.jpg') }}" alt="Another Image" class="w-full h-48 object-cover">
                        <div class="p-4">
                            <form action="/predict_predefined" method="post">
                                <input type="hidden" name="image_path" value="static/images/yawnMaleFemale7260.jpg">
                                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-full">Use this Image</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Upload Image Section -->

        </div>

        <!-- Prediction Result Section -->
        {% if filename %}
        <div class="ml-8 w-2/4  h-screen md:w-1/2 mb-6">
            <h2 class="text-2xl font-semibold mb-4">Prediction Result</h2>
            <!--<img src="{{ url_for('static', filename='uploads/' ~ filename) }}" alt="Uploaded Image" class="mb-4 w-full">-->
            <img class ="w-3/4  object-cover rounded-lg" src="{{ url_for('static', filename='results/' ~ filename) }}" alt="Prediction Result" class="w-full">
        </div>
        {% endif %}
    </div>
</body>

</html>